{
    "extends": [
        "react-app",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],

    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "paths": [
                    {
                        "name": "styled-components",
                        "message": "Please import from styled-components/macro."
                    }
                ],
                "patterns": ["!styled-components/macro"]
            }
        ],
        "no-unused-expressions": "warn",
        "@typescript-eslint/no-unused-expressions": "warn",
        "@typescript-eslint/consistent-type-imports": "warn",
        "@typescript-eslint/no-duplicate-imports": "warn",
        "prettier/prettier": "warn"
    }
}